<div class='movie-card__img-wrapper skeleton'>
  {{#if poster_path}}
    <img
      class='movie-item__poster--modal js-img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
      loading='lazy'
    />
  {{else}}
    <img
      class='movie-item__poster--modal js-img'
      src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'
      alt=' {{title}}'
      loading='lazy'
    />
  {{/if}}
</div>

<div class='movie-card-modal__info-box'>
  <h3 class='movie-card-modal__title skeleton'>{{title}}</h3>

  <div class='movie-stats'>
    <ul class='movie-stats__list list'>
      <li class='movie-stats__item skeleton'>
        Vote / Votes
        <span><span
            class='movie-stats__item--data movie-stats__item--accent'
          >{{vote_average}}</span>
          /
          <span class='movie-stats__item--data movie-stats__item--gray'>{{vote_count}}</span>
        </span>
      </li>

      <li class='movie-stats__item skeleton'>
        Popularity
        <span class='movie-stats__item--data'>{{popularity}}</span>
      </li>

      <li class='movie-stats__item skeleton'>
        Original Title
        <span class='movie-stats__item--data'>{{original_title}}</span>
      </li>

      <li class='movie-stats__item skeleton'>
        Genre

        <span class='movie-stats__item--data genres'>{{#each genres}}
            {{this.name}}{{#unless @last}},{{/unless}}{{/each}}</span>

      </li>
    </ul>

    <div class='movie-about'>
      <p class='movie-about__title skeleton'>About</p>
      <p class='movie-about__info skeleton'>{{overview}}</p>
    </div>

    <div class='modal-buttons'>
      <button class='button button--add-watched skeleton' type='button' data-id='{{id}}'>add to
        watched</button>
      <button class='button button--add-queue skeleton' type='button'>add to queue</button>
    </div>
  </div>

</div>